<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
	<listener class-name="extendReport.ExtentTestNGIReporterListener"/>
	</listeners>
  <test  name="ChromeTest">
  <parameter name="Browser" value="Chrome" />
    <classes>
      <class name="com.invbanking.testclasses.TC_loginpage"/>
       <class name="com.invbanking.testclasses.TC_addcustomer"/>
    </classes>
    </test> <!-- Test --> 
    
    <test  name="FirefoxTest">
    <parameter name="Browser" value="Firefox" />
    <classes>
      <class name="com.invbanking.testclasses.TC_loginpage"/>
       <class name="com.invbanking.testclasses.TC_addcustomer"/>
    </classes>
    </test> <!-- Test --> 
    
    
 
</suite> <!-- Suite -->
